
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Anasayfa | Gags Simple Admin Template</title>
    <link href="/css/fontawesome/css/fontawesome.min.css" rel="stylesheet">
    <link href="/css/fontawesome/css/solid.min.css" rel="stylesheet">
    <link href="/css/fontawesome/css/brands.min.css" rel="stylesheet">
    <link href="/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/master.css" rel="stylesheet">
    <link href="/css/flag-icon.min.css" rel="stylesheet">
    <link href="/css/navbar-dropdowns.css" rel="stylesheet">
    <link href="/css/sidebar-default.css" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
   
  

</head>

<body>
    <div class="wrapper">
        <nav id="sidebar" class="active">
            <div class="sidebar-header">
                <img src="/content/img/Beyaz2.png" alt="bootraper logo" class="app-logo">
            </div>
            <ul class="list-unstyled components text-secondary">
                <li>
                    <a href="/Home/Index"><i class="fas fa-home"></i> Anasayfa</a>
                </li>
                <li>
                    <a href="/musteribilgi"><i class="fas fa-user-friends"></i> Müsteri Bilgileri</a>
                </li>
                <li>
                    <a href="/uygulamalar"><i class="fas fa-table"></i> Uygulamalar</a>
                </li>

                <li>
                    <a href="/kullanıcılar"><i class="fas fa-user-shield"></i>Kullanıcılar</a>
                </li>
                <li>
                    <a href="/ayarlar"><i class="fas fa-cog"></i>Ayarlar</a>
                </li>
                <li>
                    <a href="/Home/randevuEkle"><i class="fas fa-user-friends"></i>Oauth</a>
                </li>
            </ul>
        </nav>
        <div id="body" class="active">
            <!-- navbar navigation component -->
            <nav class="navbar navbar-expand-lg navbar-white bg-white">
                <button type="button" id="sidebarCollapse" class="btn btn-light">
                    <i class="fas fa-bars"></i><span></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="nav navbar-nav ms-auto">
                        <li class="nav-item dropdown">
                            <div class="nav-dropdown">
                                <a href="#" id="nav2" class="nav-item nav-link dropdown-toggle text-secondary" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="fas fa-user"></i> <span>Admin</span> <i style="font-size: .8em;" class="fas fa-caret-down"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-end nav-link-menu">
                                    <ul class="nav-list">                              
                                        <div class="dropdown-divider"></div>
                                        <li><a href="/Login/Logout" class="dropdown-item"><i class="fas fa-sign-out-alt"></i> Logout</a></li>
                                    </ul>
                                </div>
                            </div> 
                        </li>
                    </ul>
                </div>
            </nav>
            <!-- end of navbar navigation -->
            @RenderBody()
        </div>
    </div>
</body>

<script src="/css/jquery/dist/jquery.min.js"></script>
<script src="/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="/js/script.js"></script>
 <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>

