@{
    ViewData["Title"] = "Home Page";
}


            <div class="content">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 page-header">
                            <div class="page-pretitle">Admin</div>
                            <h2 class="page-title">Randevu</h2>
                        </div>
                    </div>
                    <div class=".container-fluid flex">
            <iframe src="https://calendar.google.com/calendar/embed?height=600&wkst=1&ctz=Europe%2FIstanbul&bgcolor=%23ffffff&src=YmY1ZWUxZWI1ZTZlNGM2Mjk2NzcyNmQwZjlhOGQwM2Q2MDc1Mjc2YTMxNzExNDZkNDgyMmFjYTZmNTNiMThmYkBncm91cC5jYWxlbmRhci5nb29nbGUuY29t&color=%23A79B8E" style="border:solid 1px #777" width="800" height="600" frameborder="0" scrolling="no"></iframe>
                    </div>
                </div>
            </div>
       
   
